.container, main, map-container, #gmap {
	width: 100%;
	padding: 0;
	margin: 0;
}

#preview {
	height: auto;
	min-height: 50%;
	overflow: auto;
}

#popup-close {
	margin-bottom: 10px;
}

header, footer, .pagetitle, .ribbon, .ribbon-container-left,
	.ribbon-container-right, .footer, .header {
	display: none;
	padding: 0;
	margin: 0;
}

html body main form div.container.main div.row {
	height: 0;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
	.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: none !important;
}

#gmap {
	height: 100vh;
}

a[title="Report errors in the road map or imagery to Google"] {
	pointer-events: none;
	cursor: default;
	display: none\9; /* In IE8 do not display*/
	visibility: hidden\9; /* In IE8 do not display*/
}

a[title="Click to see this area on Google Maps"] {
	/*display: none !important;*/
	pointer-events: none;
	cursor: default;
	display: none\9; /* In IE8 do not display*/
	visibility: hidden\9; /* In IE8 do not display*/
}

a[href$="terms_maps.html"] {
	/*display: none !important;*/
	pointer-events: none;
	cursor: default;
	display: none\9; /* In IE8 do not display*/
	visibility: hidden\9; /* In IE8 do not display*/
}
