@font-face {
  font-family: "museosans-500";
  src: url('../fonts/MuseoSans_500-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSans_500-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSans_500-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSans_500-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg'); /* Legacy iOS */
}

/* Add support for scrollbars on a mac */
::-webkit-scrollbar {
    width:9px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}
/* End add support for scrollbars on a mac */

.remove-padding {
    padding: 0;
}

.align-center {
    text-align: center;
}

.clear {
  clear: both;
}

body {
	background-color: #7A7A7A;
	overflow-x:hidden;
}

p, h1, h2, h3, a, h4 {;
    font-family: "museosans-500";
}

a:hover {
  text-decoration: none;
}

header .container {
  height: 80px;
  background-color: #FF3700;
  box-shadow: 0px 0px 1px 1px #6a6a6a;
  position: relative;
  z-index: 2;
  margin-top: 10px;
}

header h1 {
	color: #fff;
  font-size: 20px;
}

header h2 a {
	color: #fff;
  font-size: 20px;
}

header h2 a:hover {
  color: #000;
  opacity: 0.5;
}

header .channel-name {
  opacity: 0.5;
  font-size: 20px;
}

header .bar-spacer
{
	color: #fff !important;
    font-size: 20px !important;
}

.pagetitle {
	padding-top: 5px;
	padding-bottom: 5px;
}

header .menu-item {
  padding-right: 20px;
}


h1 a {
	color: #fff;
	text-decoration: none;
  font-size: 20px;
}

h1 a:hover {
	text-decoration: none;
}

/* Channel Page */


main {
  padding-bottom: 10px;
  padding-top: 10px;
}

main .container {
  background-color: #f8f8f8;
}

.main {
  box-shadow: 0px 0px 1px 1px #6a6a6a;
  padding-bottom: 20px;
}

input {
	padding: 10px;
	font-size: 18px;
	margin: 11px 0px;
	color: #FF3300;
	width: 100%;
}

input[type="submit"].btn {
	color: #ffffff !important;
}

textarea {
	font-size: 18px;
	color: #FF3300;
	padding: 10px;
	margin: 11px 0px;
	width: 100%;
}

button {
  padding: 10px;
  font-size: 18px;
  margin: 11px 0px;
}



.channel-page h4 {
	margin-bottom: 0px;
}

.channel-style {
    border-left: 4px solid #ccc;
    padding: 0px 20px 20px 20px;
    margin-bottom: 10px;
}

.add-channel-style {
  color: #515151;
  border-left: 4px solid #9E7F56;
}

.channel-style:hover {
  background-color: #f1f1f1;
}

.channel-style h3 {
  margin-top: 0px;
  padding-top: 15px;
}

.channel-style i {
    position: relative;
    top: -40px;
    opacity: 0.8;
}

/* Detail Page */

.detail-page h3 {
	margin-bottom: 0px;
	margin-top: 0px;
}

.submit-btn {
    background-color: #fff;
    border: 2px solid #4cae4c;
    background-color: #5cb85c;
    color: #fff;
}

.submit-btn:hover {
    background-color: #449d44;
    border-color: #398439;
}

.add-box {
    border: 1px solid;
    width: 100%;
    margin-bottom: 20px;
}

/* Map */

.map-container {
    position: relative;
}

#gmap{
    height: 450px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
}

#preview {
    border-radius: 3px;
    height: 90%;
    width: 30%;
    background-color: #647966;
    position: absolute;
    top: 0%;
    margin: 30px 10px;
    padding: 15px;
    color: #fff;
    overflow:auto;
}

#preview img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

#preview audio {
	padding-top:20%;
	max-width: 100%;
}

#preview video {
	padding-top:5%;
	max-width: 100%;
}

.map-container audio {
  width: 100%;
}

/* VIEW LOCATIONS */

.view-locations {
    margin-top: 20px;
}

.single-location {
    margin-bottom: 15px;
    padding:10px;
    border-left: 4px solid #9E7F56;
    background-color: #f8f8f8;
}

.white-text {
  color: #fff;
}

/** code **/



/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

footer .text-muted {
  margin: 0;
  letter-spacing: 2px;
  color: #fff;
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
  border-color: #913D3B;
  color: #913D3B;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bs-callout-danger h4 {
color: #B94A48;
}

.bs-callout-warning h4 {
color: #C09853;
}

.bs-callout-info h4 {
color: #3A87AD;
}

/** Ribbon **/

.ribbon-container-left {
  position: absolute;
  top: 15px;
  left: -15px;
  overflow: visible; /* so we can see the pseudo-elements we're going to add to the anchor */
  font-size: 20px; /* font-size and line-height must be equal so we can account for the height of the banner */
  line-height: 20px;
}
      
.ribbon-container-left:before {
  content:"";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 3px;
  right: 0;

}
      
.ribbon-container-left a {
  display:block;
  padding:20px;
  position:relative; /* allows us to position our pseudo-elements properly */
  background:#006398;
  overflow:visible;
  height:58px;
  margin-right:56px;
  color:#fff;
  text-decoration:none;
}

.ribbon-container-left a:after { /* this creates the "folded" part of our ribbon */
  content:""; 
  height: 0;
  width: 0;
  display:block;
  position:absolute;
  bottom:-10px;
  left:0;
  border-top: 10px solid #004a70; 
  border-left: 15px solid transparent;
}



.ribbon-container-left a:hover {
  background:#0089d0;
}

.ribbon-container-left a:hover:before { /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
  border-top: 29px solid #009ff1; 
  border-bottom: 29px solid #009ff1;
}


.ribbon-container-right {
  position: absolute;
  top: 15px;
  right: -15px;
  overflow: visible; /* so we can see the pseudo-elements we're going to add to the anchor */
  font-size: 20px; /* font-size and line-height must be equal so we can account for the height of the banner */
  line-height: 20px;
}
      
.ribbon-container-right:before {
  content:"";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;

}
      

      
.ribbon-container-right a {
  display:block;
  padding:20px;
  position:relative; /* allows us to position our pseudo-elements properly */
  background:#006398;
  overflow:visible;
  height:58px;
  margin-left:56px;
  color:#fff;
  text-decoration:none;
}

.ribbon-container-right a:after { /* this creates the "folded" part of our ribbon */
  content:""; 
  height: 0;
  width: 0;
  display:block;
  position:absolute;
  bottom:-10px;
  right:0;
  border-top: 10px solid #004a70; 
  border-right: 15px solid transparent;
}


.ribbon-container-right a:hover {
  background:#0089d0;
}

.ribbon-container-right a:hover:before { /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
  border-top: 29px solid #009ff1; 
  border-bottom: 29px solid #009ff1;
}

#file-clear_id {
	width:40px;
}

#preview input, #preview textarea {
	margin:0;
	padding:0;
	font-size:16px;
}

#popup-close {
	cursor: pointer;
	border: 1px solid #ffffff;
	background-color: #647966;
	width:15px;
	float:right;
	text-align: center;
}
/* Start of custom colouring for MUSEON */

.btn {
	background-color: #355F18 !important;
}

a.btn {
	color: #ffffff;
}

.btn:hover {
	color: #ffffff;
	text-decoration: underline;
}

.btn input{
	color:#000000  !important;
}

.btn-danger {
	background-color: #FF3300 !important;
	margin:13px;
}
/* End of custom colouring  for MUSEON */

.locale {
width:200px;
float:right;
border: 1px solid orange;
}

.image-left{
	padding:0;
	padding-top:15px;
	padding-right:5px;
	margin:0;
}
