{% extends 'base.html' %}
{% load i18n %}

{% block action %}{% url 'auth:passcode' %}{% endblock %}

{% block method %}POST{% endblock %}

{% block pagetitle %}
	<div class="col-sm-8 col-sm-offset-2">
		<h2 class="align-center">{% trans "Login with passcode" %}</h2>
	</div>
{% endblock %}

{% block main-content %}

<div class="row add-post">
	<div class="col-sm-8 col-sm-offset-2">
		{% csrf_token %}
		{% if form.non_field_errors %}
			<div class="bs-callout bs-callout-danger">
				<h4>{% blocktrans %}Please enter a valid passcode.{% endblocktrans %}</h4>
			</div>
		{% endif %}

		{{ form.username }}
		{% if form.username.errors %}
			<div class="bs-callout bs-callout-danger">	
				<h4>{{form.password.errors.as_text|cut:"* "}}</h4>
			</div>
		{% endif %}
		<input type="submit" value="{% trans "Submit" %}" class="submit-btn btn btn-block" />
	</div>
</div>

{% endblock %}