{% extends 'base.html' %}
{% load i18n %}

{% block action %}{% url 'channel:edit_channel' channel.id %}{% endblock %}

{% block method %}POST{% endblock %}

{% block pagetitle %}

<div class="row">
	<div class="col-sm-12">
		<h3 class="pull-left"><a href="{% url 'channel:detail' channel.id %}"><i class="fa fa-fw fa-arrow-circle-o-left"></i> {% trans "Back to Map" %}</a></h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2 class="align-center">{% trans "Edit Channel Settings" %}</h2>
	</div>
</div>


{% endblock %}

{% block main-content %}


	{% csrf_token %}
	{{ form }}
	<input type="submit" value="{% trans "Submit" %}" class="btn btn-block btn-success submit-btn" />

{% endblock %}
