{% extends 'base.html' %}
{% load l10n %}

{% block action %}{% url 'channel:index' %}{% endblock %}

{% block method %}POST{% endblock %}

{% block pagetitle %}

	<div class="col-sm-12"><h2 class="align-center">{% trans "Select a channel." %}</h2></div>

{% endblock %}

{% block js %}
	{% if not form.title.errors or form.description.errors %}
		$('.channel').hide();
	{% endif %}
	$(document).on('click', '.add-channel', function(e) {
		e.preventDefault();
		$('.channel').slideToggle('fast', function(){ $('#id_title').focus(); });
		$('.fa-plus').toggleClass('fa-minus')
	});

{% endblock %}

{% block main-content %}

	{% csrf_token %}

	<div class="channel-page">

		<div class="row">
			<div class="col-sm-12">
				{% if user.is_staff %}
				<div class="row">
					<div class="col-sm-12 add-channel-button">
						<a href="{% url 'channel:index' %}" class="add-channel">
							<div class="channel-style add-channel-style">
								<h3>{% trans "Add a new channel" %}</h3>
								<i class="fa fa-5x fa-plus pull-right"></i>
								<h4>{% trans "A channel is a collection of locations and media to show at once." %}</h4>
								<h4>{% trans "Click here to create a new channel for locations." %}</h4>
								<div class="clear"></div>
							</div>
						</a>
						<div class="channel col-sm-8 col-sm-offset-2">
							{{form.title}}
							{% if form.title.errors %}
								<div class="bs-callout bs-callout-danger">
									{{form.title.errors.as_text|cut:"* "}}
								</div>
							{% endif %}

							{{form.description}}
							{% if form.description.errors %}
								<div class="bs-callout bs-callout-danger">
									{{form.description.errors.as_text|cut:"* "}}
								</div>
							{% endif %}

							{{form.centre_latitude}}
							{% if form.centre_latitude.errors %}
								<div class="bs-callout bs-callout-danger">
									{{form.centre_latitude.errors.as_text|cut:"* "}}
								</div>
							{% endif %}

							{{form.centre_longitude}}
							{% if form.centre_longitude.errors %}
								<div class="bs-callout bs-callout-danger">
									{{form.centre_longitude.errors.as_text|cut:"* "}}
								</div>
							{% endif %}

							{{form.radius}}
							{% if form.radius.errors %}
								<div class="bs-callout bs-callout-danger">
									{{form.radius.errors.as_text|cut:"* "}}
								</div>
							{% endif %}


							<input type="submit" value="{% trans "Submit" %}" class="btn-block submit-btn" />
						</div>
					</div>
				</div>
				{% endif %}
				<div class="row">
					{% for channel in channels %}
						<div class="col-sm-12">
							<a href="{% url 'channel:detail' channel.id %}"><div class="channel-style">
								<h3>{{ channel.title }}</h3>
								<i class="fa fa-5x fa-arrow-circle-o-right pull-right"></i>
								<h4>{% trans "Description" %}: {{ channel.description|truncatechars:140 }}</h4>
							</div></a>
						</div>
					{% endfor %}
				</div>
			</div>

			
		</div>
	</div>


{% endblock  %}
