{% extends 'base.html' %}
{% load l10n %}

{% if user.is_authenticated %}
{% block action %}  /channel/{{ channel.id}}/add/ {% endblock %}

{% block method %}POST{% endblock %}
{% endif %}

{% block js %}
	
	// GEOLOCATION

	// GENERAL FUNCTIONS //

	var lat;
	var lng;

	initialize();

	function initialize() {
	    lat = {{ channel.centre_latitude }};
	    lng = {{ channel.centre_longitude }};
	    radius = {{ channel.radius|default:0 }};
	    $.get('/channel/{{channel.id}}/map/' + lat + ',' + lng + ',' + radius, function(data) {
			$('body').append(data);
		});
	}

	$('#preview').hide();

	$('#preview').on('click', 'a.close', function() {
		$('#preview').hide();
	});

	$(document).on('click','.delete-button', function(e) {
		e.preventDefault();

		var url = $(this).attr('href');
		var latlng = {{ channel.centre_latitude }} + ','+ {{ channel.centre_longitude }};
		radius = {{ channel.radius|default:0 }};

		$.get(url, function() {
			$.get('/channel/{{channel.id}}/map/' + latlng + ',' + radius, function(data) {
				$('#mapjs').replaceWith(data);
				$('#preview').hide();
			});
		});
	});
{% endblock %}

{% block pagetitle %}

		{% if not SINGLE_MAIN_CHANNEL_ID %}
		<div class="ribbon-container-left">
			<a href="{% url 'channel:index' %}" class="ribbon"><i class="fa fa-fw fa-arrow-circle-o-left"></i> {% trans "Channels"%}</a>
		</div>
		{% endif %}
		{% if channel and user.is_staff %}
		<div class="ribbon-container-right {% if not locations %}hide{% endif %}">
			<a href="{% url 'channel:view' channel.id %}" class="ribbon">{% trans "View Locations" %} <i class="fa fa-arrow-circle-o-right"></i> </a>
		</div>
		{% endif %}

		<h2 class="align-center pagetitle">
		{% if user.is_authenticated %}
		{% trans "Click on the map to add a new location" %}
		{% else %}
		{% trans "Login to add a new location" %}
		{% endif %}
		
		
		</h2>
{% endblock %}

{% block main-content %}

	{% csrf_token %}
	{% if form.errors %}
		<div class="bs-callout bs-callout-danger">
			{% blocktrans %}Error adding location to map. Please try again resolving the following issues;{% endblocktrans %}<br/><br/>
			{% if form.latitude.errors %}
				<ul><b>{% trans "No point selected" %}</b>: {% trans "Click on the map to select a location." %}</ul>
			{% endif %}
   			{% if form.title.errors %}
   				<ul><b>{% trans "Title" %}</b>: {{form.title.errors.as_text|cut:"* "}}</ul>
   			{% endif %}
   			{% if form.description.errors%}
   				<ul><b>{% trans "Description" %}</b>: {{form.description.errors.as_text|cut:"* "}}</ul>
   			{% endif %}
   			{% if form.file.errors %}
   				<ul><b>{% trans "File" %}</b>: {{form.file.errors.as_text|cut:"* "}}</ul>
   			{% endif %}
   		</div>
	{% endif %}

	<div class="detail-page">
		<div class="row">
			<div class="col-sm-12 map-container">
				<div id="gmap"></div>
				<div id="preview"></div>
			</div>

			{% if form.subject.errors %}
			    <ol>
			    {% for error in form.subject.errors %}
			        <li><strong>{{ error|escape }}</strong></li>
			    {% endfor %}
			    </ol>
			{% endif %}

		</div>
	</div>

{% endblock %}
