{% extends 'base.html' %}
{% load l10n %}

{% block action %}  /channel/{{ channel.id}}/edit/{{ location.id }}/ {% endblock %}

{% block method %}POST{% endblock %}

{% block pagetitle %}


<div class="row">
	<div class="col-sm-12">
		<h3 class="pull-left"><a href="/channel/{{ channel.id }}/view/">
		<i class="fa fa-fw fa-arrow-circle-o-left"></i> {% trans "Back to Locations" %}</a></h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2 class="align-center">{% trans "Edit Location" %}</h2>
	</div>
</div>


{% endblock %}

{% block main-content %}

	{% csrf_token %}
	{{ form }}

	<input type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" class="btn btn-block btn-success submit-btn" />

{% endblock %}