{% load i18n %}
<div id='popup-close'>X</div>

	{{form.title}}

	{{form.file}}

	{{form.description}}

	<div class="hide">
	{{form.latitude}}
	</div>
	<div class="hide">
	{{form.longitude}}
	</div>
	{{form.name}}
	{{ form.language_code.as_hidden }}

	<input  class='btn' type="submit" value="{% blocktrans %}Add Location{% endblocktrans %}" class="submit-btn btn-block" />
