{% extends 'base.html' %}
{% load l10n %}

{% block js %}

	$(document).on('click', '.delete-button', function(e) {
		var url = $(this).attr('href');
		$obj = $(this);
		
		e.preventDefault();
		$.get(url, function(obj) {
			$obj.closest('.single-location').slideUp('normal', function() { $(this).remove(); });
		});
	});

{% endblock %}

{% block pagetitle %}

<div class="ribbon-container-left">
	<a href="{% url 'channel:detail' channel.id %}">
	<i class="fa fa-fw fa-arrow-circle-o-left"></i> {% trans "Add Locations" %}</a>
</div>

<h2 class="align-center pagetitle">{% trans "View and edit your added locations" %}</h2>


{% endblock %}

{% block main-content %}

	{% csrf_token %}

	<div class="view-locations">
		<div class="col-sm-12">
			{% for location in locations %}
				<div class="row single-location" data-tag="marker{{location.id}}">
					<div class="col-sm-8">
						
							<h4>{{ location.title }}</h4>
							<h4>{% trans "description:" %} {{location.description}}</h4>
							<h4>{% trans "language code:" %} {{location.language_code}}</h4>{% trans "written by:" %}<i>{{location.name}}</i>
							<h4>file: {% if location.file %}<a href="{{ location.file.url }}">{{ location.file }}</a>{% else %}(none){% endif %}</h4>

					</div>
					<div class="col-sm-4">
					{% if location.updated_by.id == user.id or user.is_staff %}
						<a class="btn btn-link edit-button" href="{% url 'channel:edit_location' channel.id location.id %}">{% trans "Edit" %}</a>

						<a class="btn btn-link pull-right delete-button" href="{% url 'channel:remove_location' channel.id location.id %}">{% trans "Delete" %}</a>
					{% endif %}
					</div>
				</div>

			{% endfor %}	
		</div>
	</div>

{% endblock %}